{% extends 'base.html.twig' %}

{% block title %}I.E.S. Salduba
{% endblock %}

{% block body %}
	<main class="p-3 m-3 rounded overflow-hidden">
		<div id="index-container" class="p-1 rounded">
			<h1 class="text-center title">I.E.S. Salduba</h1>
		</div>
	</main>
{% endblock %}
