{% extends 'base.html.twig' %}

{% block title %}I.E.S. Salduba
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="index-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba</h1>
				<h2 class="text-center">Inicio</h2>
			</div>
			<br>
		</div>
	</main>
{% endblock %}
