{% extends 'base.html.twig' %}

{% block title %}I.E.S. Salduba
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="index-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba - Inicio</h1>
			</div>
			<div class="p-4 text-justify">
				<p>
					El
					<span class="fw-bold">I.E.S. Salduba</span>
					se encuentra situado en la localidad malagueña de
					<span class="fw-bold">San Pedro Alcántara</span>, en
					plena costa del sol occidental.
					Es el centro de secundaria más antiguo de la localidad: fue creado como
					<span class="fw-bold">I. B. Salduba.</span>
					En la
					década de los ochenta <span class="fw-bold">(curso 1983-84)</span>, aunque desde el curso
					<span class="fw-bold">1978-79</span>
					ya existió como
					extensión del
					<span class="fw-bold">I.B. Sierra Blanca de Marbella</span>. Durante muchos años fue el único centro de
					bachillerato del pueblo. Algún tiempo después, se creó el centro de
					<span class="fw-bold">Formación Profesional
					Vega de Mar</span>
					en una zona colindante.
					En el año 1999, tras la reforma educativa, se produjo la fusión del
					<span class="fw-bold">I.E.S. Salduba</span>
					y el antiguo
					centro de formación profesional, que, por entonces, ya era otro I.E.S. Todo ese conjunto
					mantuvo el nombre de
					<span class="fw-bold">I.E.S. Salduba</span>, mientras que el
					<span class="fw-bold">I.E.S. Vega de Mar</span>
					fue trasladado a un
					antiguo colegio de primaria próximo a la zona de
					<span class="fw-bold">Nueva Andalucía</span>.
					Esa unificación convirtió al
					<span class="fw-bold">I.E.S. Salduba</span>
					en uno de los centros más grandes de la provincia
					de Málaga, con todos los problemas de gestión y organización que ello conlleva, pues cuenta
					con siete edificios diferentes, casi mil quinientos alumnos y alumnas y casi 120 profesoras y
					profesores, dependiendo de los cursos.
				</p>
			</div>
			<div class="d-flex justify-content-center">
				<div id="myCarousel" class="carousel slide m-2 rounded carousel-home-content" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
						<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="images/home/home.jpg" class="d-block w-100 rounded" alt="Entrada">
							<div class="carousel-caption d-none d-md-block">
								<h5>Entrada</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="images/home/hall.jpg" class="d-block w-100 rounded" alt="Mural hall">
							<div class="carousel-caption d-none d-md-block">
								<h5>Mural Hall</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="images/home/art1.jpg" class="d-block w-100 rounded" alt="Cuadro hall">
							<div class="carousel-caption d-none d-md-block">
								<h5>Cuadro Hall</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="images/home/art2.jpg" class="d-block w-100 rounded" alt="Cuadro secretaría">
							<div class="carousel-caption d-none d-md-block">
								<h5>Cuadro Secretaría</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="images/home/smr-components.jpg" class="d-block w-100 rounded" alt="Mural informática">
							<div class="carousel-caption d-none d-md-block">
								<h5>Mural Informática</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="images/home/art3.jpg" class="d-block w-100 rounded" alt="Cuadro conserjería">
							<div class="carousel-caption d-none d-md-block">
								<h5>Cuadro Conserjería</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="images/home/art4.jpg" class="d-block w-100 rounded" alt="Cuadro escaleras">
							<div class="carousel-caption d-none d-md-block">
								<h5>Cuadro Escaleras</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="images/home/art5.jpg" class="d-block w-100 rounded" alt="Cuadro sala profesores">
							<div class="carousel-caption d-none d-md-block">
								<h5>Cuadro Sala Profesores</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="images/home/playground.jpg" class="d-block w-100 rounded" alt="Patio de recreo">
							<div class="carousel-caption d-none d-md-block">
								<h5>Patio de Recreo</h5>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Anterior</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Siguiente</span>
					</button>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
