{# {% block stylesSpecified %}
	{{ encore_entry_link_tags('x') }}
{% endblock %} #}

<footer class="py-4 m-2">
	<p class="text-center m-0">
		Made By:
		<i class="fa fa-github"></i>
		<a href="https://github.com/JuanmaBenitez73" target="_blank" class="text-light">
			<b>Juanma Benítez</b>
		</a>
		<i class="fa fa-github"></i>
		<a href="https://github.com/AntonioGuillen123" target="_blank" class="text-light">
			<b>Antonio Guillén</b>
		</a>
	</p>
</footer>
