<nav class="p-3 m-3 rounded">
	<div class="">
		<div class="d-flex align-items-end">
			<a href="{{ path('app_home') }}" class=""><img class="rounded" width="120" height="120" src="images/iessalduba.jpg" alt="I.E.S. Salduba"/></a>
			<ul class="list-group list-group-horizontal list-unstyled">
				<li><a href="{{ path('app_students') }}" class="m-2 text-decoration-none text-light">Alumnos</a></li>
				<li><a {# href="{{ path('app_students') }}" #} class="m-2 text-decoration-none text-light">Profesores</a></li>
			</ul>
		</div>
	</div>
</nav>