<form method="post" action="{{ path('app_schooling_info_delete', {'id': schooling_info.id}) }}" id="delete-schooling_info-form">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ schooling_info.id) }}">
	<button type="button" class="delete-button py-2 px-3 rounded text-white" data-bs-toggle="modal" data-bs-target="#confirmDeleteSchoolingInfoModal">
		<i class="fas fa-trash"></i>
		Delete
	</button>
</form>

<div class="modal fade" id="confirmDeleteSchoolingInfoModal" tabindex="-1" aria-labelledby="confirmDeleteSchoolingInfoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmDeleteSchoolingInfoModalLabel">Confirmar borrado</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
			</div>
			<div class="modal-body">
				¿Seguro que quieres borrar esta noticia? Esta acción no se puede deshacer.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-danger" id="confirm-delete-schooling_info-button">Sí, borrar</button>
			</div>
		</div>
	</div>
</div>

 <script>
document.getElementById('confirm-delete-schooling_info-button').addEventListener('click', function () {
    document.getElementById('delete-schooling_info-form').submit();
});
</script>
