<form method="post" action="{{ path('app_second_bach_delete', {'id': second_bach.id}) }}" id="delete-second_bach-form">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ second_bach.id) }}">
	<button type="button" class="delete-button py-2 px-3 rounded text-white" data-bs-toggle="modal" data-bs-target="#confirmDeleteSecondBachModal">
		<i class="fas fa-trash"></i>
		Delete
	</button>
</form>

<div class="modal fade" id="confirmDeleteSecondBachModal" tabindex="-1" aria-labelledby="confirmDeleteSecondBachModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmDeleteSecondBachModalLabel">Confirmar borrado</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
			</div>
			<div class="modal-body">
				¿Seguro que quieres borrar esta noticia? Esta acción no se puede deshacer.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-danger" id="confirm-delete-second_bach-button">Sí, borrar</button>
			</div>
		</div>
	</div>
</div>

 <script>
document.getElementById('confirm-delete-second_bach-button').addEventListener('click', function () {
    document.getElementById('delete-second_bach-form').submit();
});
</script>
