{% extends 'base.html.twig' %}

{% block title %}Contacto DACE
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden content">
		<div id="contact-dace-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">Contacto DACE</h1>
			</div>
			<br>
			<div>
				<div class="text-center">
					<div id="info-text" class="fw-bold">
						<div class="d-flex flex-column align-items-center mb-3">
							<div class="d-flex align-items-center gap-2">
								<i class="fa-brands fa-instagram"></i>
								<a href="https://www.instagram.com/dacesalduba" target="_blank" class="text-decoration-none text-dark link">Instagram DACE</a>
							</div>
							<br>
							<div class="d-flex align-items-center gap-2">
								<i class="fa-brands fa-facebook"></i>
								<a href="https://www.facebook.com/dacesalduba" target="_blank" class="text-decoration-none text-dark link">Facebook DACE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
