{% extends 'base.html.twig' %}

{% block title %}Proyecto Educativo
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="educative-proyect-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba - Proyecto Educativo</h1>
				{# <h2 class="text-center">Proyecto Educativo</h2> #}
			</div>
			<div class="d-flex flex-column align-items-center">
				<a href="{{ asset('.pdf') }}" target="_blank">PDF</a>
			</div>
			<div class="d-flex flex-column align-items-center">
				<div>
					
				</div>
			</div>
		</div>
	</main>
{% endblock %}
