{% extends 'base.html.twig' %}

{% block title %}Oferta Educativa
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="educative-offer-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba - Oferta Educativa</h1>
			</div>
			<div class="d-flex flex-column align-items-center">
				<p class="fw-bold p-3">
					La oferta completa del Sistema Educativo es la siguiente (recordar que en nuestro centro ofertamos EBE, ESO, ESO para personas adultas, Bachillerato, CF Grado Básico, FP Grado medio y FP Grado superior):
				</p>
				<ul id="educative-offer-list">
					<li class="fw-bold">Educación Básica Especial</li>
					<ul>
						<li>Educación especial unidad específica</li>
					</ul>
					<li class="fw-bold">Ciclo Formativo de Grado Básico</li>
					<ul>
						<li>
							<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/fp-basica/detalle-titulo?idTitulo=146" target="_blank">Fabricación y montaje</a>
						</li>
					</ul>
					<li class="fw-bold">Educación Secundaria Obligatoria</li>
					<li class="fw-bold">Formación Profesional Inicial de Grado Medio</li>
					<ul>
						<li>
							<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/fp-grado-medio/detalle-titulo?idTitulo=69" target="_blank">Estética y belleza</a>
						</li>
						<li>
							<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/fp-grado-medio/detalle-titulo?idTitulo=64" target="_blank">Instalaciones frigoríficas y de climatización</a>
						</li>
						<li>
							<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/fp-grado-medio/detalle-titulo?idTitulo=63" target="_blank">Jardinería y floristería</a>
						</li>
						<li>
							<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/fp-grado-medio/detalle-titulo?idTitulo=99" target="_blank">Peluquería y cosmética capilar</a>
						</li>
						<li>
							<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/fp-grado-medio/detalle-titulo?idTitulo=17" target="_blank">Sistemas microinformáticos y redes</a>
						</li>
					</ul>
					<li class="fw-bold">Bachillerato</li>
					<ul>
						<li>Ciencias y Tecnología</li>
						<li>Humanidades y Ciencias Sociales</li>
					</ul>
					<li class="fw-bold">Formación Profesional Inicial de Grado Superior</li>
					<ul>
						<li>
							<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/fp-grado-superior/detalle-titulo?idTitulo=56" target="_blank">Desarrollo de aplicaciones web</a>
						</li>
						<li>
							<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/fp-grado-superior/detalle-titulo?idTitulo=20" target="_blank">Desarrollo de proyectos de instalaciones térmicas y de fluidos</a>
						</li>
					</ul>
					<li class="fw-bold">E.S.O. para personas adultas: Modalidad Semipresencial</li>
				</ul>
			</div>
		</div>
	</main>
{% endblock %}