{% extends 'base.html.twig' %}

{% block title %}Localización
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="location-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba</h1>
				<h2 class="text-center">Localización</h2>
			</div>
			<br>
			<div class="d-flex justify-content-center">
				<div id="location-content" class="p-2 rounded">
					<iframe id="location-maps" class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6415.245076103484!2d-4.9960797!3d36.490831899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd732a1846167d57%3A0x83508c64b71051e7!2sInstituto%20de%20Educaci%C3%B3n%20Secundaria%20Salduba!5e0!3m2!1ses!2ses!4v1716841263161!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
