{% extends 'base.html.twig' %}

{% block title %}Plan de centro
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="school-plan-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba - Plan de centro</h1>
			</div>
			<div class="d-flex flex-column align-items-center">
				<div id="school-plan-content" class="p-2 rounded">
					<img id="school-plan-image" src="images/school_plan.jpg" alt="Plan de centro"/>
				</div>
			</div>
			<div class="p-2 rounded d-flex justify-content-center">
				<div class="d-flex justify-content-between school-plan-links text-dark text-decoration-none fw-bold">
					<div>
						<i class="fa-solid fa-circle-arrow-up"></i>
						<a class="text-dark text-decoration-none fw-bold link" href="{{ path('app_school_plan_educative_proyect') }}">Proyecto Educativo</a>
						<i class="fa-solid fa-circle-arrow-up"></i>
					</div>
					<div>
						<i class="fa-solid fa-circle-arrow-up"></i>
						<a class="text-dark text-decoration-none fw-bold link" href="{{ path('app_school_plan_rof') }}">R.O.F.</a>
						<i class="fa-solid fa-circle-arrow-up"></i>
					</div>
					<div>
						<i class="fa-solid fa-circle-arrow-up"></i>
						<a class="text-dark text-decoration-none fw-bold link" href="{{ path('app_school_plan_project_management') }}">Proyecto Gestión</a>
						<i class="fa-solid fa-circle-arrow-up"></i>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}