body {
    background-color: rgb(179, 205, 211) !important;
}

nav,
main {
    background-color: rgb(28, 63, 96);
}

#main-img {
    box-shadow: 0 0 10px 0px rgb(255, 255, 255);
}

footer {
    background-color: rgb(28, 63, 96);
    color: white;
}

.title {
    font-family: 'title', sans-serif;
}

.title:hover {
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.dropdownButton,
.dropdown-container {
    background-color: rgb(103, 134, 153) !important;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0px rgb(193, 234, 242);
}

.dropdown-container a {
    background-color: rgb(103, 134, 153) !important;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.dropdown-container a:hover {
    background-color: rgb(179, 205, 211) !important;
    color: rgb(28, 63, 96);
    text-shadow: 0px 0px 25px rgb(28, 63, 96);
}

.mail:hover {
    text-decoration: underline !important;
}

.max-content-width {
    width: max-content;
}

.fs-xs {
    font-size: small;
}

.button-collapse {
    background-color: rgb(103, 134, 153) !important;
}

.dropdown-menu[data-bs-popper] {
    left: auto !important;
    position: absolute;
}

.more-gap {
    gap: 7rem;
}

#toggle-button {
    box-shadow: 0 0 8px 0px rgb(193, 234, 242);
}

#info {
    gap: 1rem;
}

@font-face {
    font-family: 'title';
    src: url('../fonts/title.ttf');
}

@media (max-width: 60rem) {
    /* .more-gap {
        gap: 10rem;
    } */

    .collapse-content {
        display: grid;
    }
    
    #center-container {
        width: 25rem;
    }

    /* .collapse-container {

    } */
}

@media (max-width: 40rem) {
    .resposive-column {
        flex-direction: column;
        gap: 1.5rem;
    }

    .fs-xs {
        font-size: x-small;
    }

    #info {
        gap: 7rem;
    }

    #info-text {
        line-height: 1rem;
    }

    .collapse-content {
        display: flex;
        flex-direction: column;
    }
}