:root {
    --bg-light-blue: rgb(179, 205, 211);
    --bg-dark-blue: rgb(28, 63, 96);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

body {
    background-color: var(--bg-light-blue) !important;
}

nav,
main {
    background-color: var(--bg-dark-blue);
}

#nav-img {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0px var(--white);
}

footer {
    background-color: var(--bg-dark-blue);
    color: white;
    /* position: sticky; */
}

.title {
    font-family: 'title', sans-serif;
}

.nav-title:hover {
    text-shadow: 0px 0px 15px var(--black);
}

.dropdownButton,
.dropdown-container {
    background-color: rgb(103, 134, 153) !important;
    color: var(--white);
    box-shadow: 0 0 8px 0px rgb(193, 234, 242);
}

.dropdown-container a {
    background-color: rgb(103, 134, 153) !important;
    color: var(--white);
    font-weight: bold;
}

.dropdown-container a:hover {
    background-color: var(--bg-light-blue) !important;
    color: var(--bg-dark-blue);
    text-shadow: 0px 0px 25px var(--bg-dark-blue);
}

#emails {
    justify-content: center;
}

.mail:hover {
    text-decoration: underline !important;
}

.fs-xs {
    font-size: small;
}

.dropdown-menu[data-bs-popper] {
    left: auto !important;
    position: absolute;
}

main {
    margin-left: 12.5% !important;
    margin-right: 12.5% !important;
}

#toggle-button {
    box-shadow: 0 0 8px 0px rgb(193, 234, 242);
}

.dropdown-toggle.show {
    color: var(--black);
}

#info {
    gap: 1rem;
}

.navbar-item-1 {
    grid-area: navbarItem1;
}

.navbar-item-2 {
    grid-area: navbarItem2;
}

.navbar-item-3 {
    grid-area: navbarItem3;
}

.navbar-item-4 {
    grid-area: navbarItem4;
}

.navbar-item-5 {
    grid-area: navbarItem5;
}

.navbar-item-6 {
    grid-area: navbarItem6;
}

.menu-content {
    justify-items: center;
    grid-template-rows: auto;
    grid-template-areas:
        "navbarItem1 navbarItem2 navbarItem3 navbarItem4 navbarItem5 navbarItem6"
    ;
}

#index-container,
#organization-chart-container,
#location-container,
#educative-offer-container,
#contact-container {
    background-color: rgb(218, 239, 247);
}

#organization-chart-content {
    grid-column: auto auto auto auto;
    grid-template-areas:
        "affiliates departments staff contact-information"
    ;
}

.text-shadow {
    text-shadow: 0px 0px 3px var(--black);
}

.organization-chart-affiliates {
    background-color: rgb(255, 222, 231);
}

.organization-chart-departments {
    background-color: rgb(255, 246, 222);
}

.organization-chart-staff {
    background-color: rgb(223, 255, 231);
}

.organization-chart-contact-information {
    background-color: rgb(222, 229, 255);
}

#location-content,
#educative-offer-content{
    background-color: var(--bg-dark-blue);
    width: max-content;
}

.carousel-content {
    width: 700px;
    height: 525px;
}

#location-maps {
    width: 750px;
    height: 450px;
}

.text-justify {
    text-align: justify;
}

@font-face {
    font-family: 'title';
    src: url('../fonts/title.ttf');
}

@media (max-width: 60rem) {
    #menu-container {
        gap: 1rem;
    }

    .menu-content {
        grid-template-rows: auto auto;
        grid-template-areas:
            "navbarItem1 navbarItem2 navbarItem3"
            "navbarItem4 navbarItem5 navbarItem6"
        ;
        gap: 1rem;
    }

    #center-container {
        gap: 0;
    }

    main {
        margin: 1rem !important;
    }

    .carousel-content {
        width: 500px;
        height: 375px;
    }
}

@media (max-width: 40rem) {
    .resposive-column {
        flex-direction: column;
        gap: 1.5rem;
    }

    .fs-xs {
        font-size: x-small;
    }

    #info {
        gap: 7rem;
    }

    #info-text {
        line-height: 1rem;
    }

    #menu-container {
        gap: 1rem;
    }

    .menu-content {
        justify-items: start;
    }

    .nav-content {
        flex-direction: column;
        gap: 1rem;
    }

    .menu-content {
        grid-template-rows: auto auto;
        grid-template-areas:
            "navbarItem1 navbarItem2"
            "navbarItem3 navbarItem4"
            "navbarItem5 navbarItem6"
        ;
        gap: 1rem;
    }

    #center-container {
        gap: 0;
    }

    #affiliates {
        grid-area: affiliates;
    }

    #departments {
        grid-area: departments;
    }

    #staff {
        grid-area: staff;
    }

    #contact-information {
        grid-area: contact-information;
    }

    #organization-chart-content {
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "affiliates"
            "departments"
            "staff"
            "contact-information"
        ;
    }

    #location-maps {
        width: auto;
        height: auto;
    }

    #educative-offer-image {
        width: 300px;
        height: 368px;
    }

    main {
        margin: 1rem !important;
    }

    #emails {
        flex-direction: column;
    }

    .carousel-content {
        width: 300px;
        height: 225px;
    }
}