body {
    background-color: rgb(179, 205, 211) !important;
}

nav {
    background-color: rgb(28, 63, 96);
}

footer {
    background-color: rgb(28, 63, 96);
    color: white;
}

.title {
    font-family: 'title', sans-serif;
}

.dropdownButton,
.dropdown-container {
    background-color: rgb(103, 134, 153) !important;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0px rgb(193, 234, 242);
}

.dropdown-container a {
    background-color: rgb(103, 134, 153) !important;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.dropdown-container a:hover {
    background-color: rgb(179, 205, 211) !important;
}

.mail:hover {
    text-decoration: underline !important;
}

@font-face {
    font-family: 'title';
    src: url('../fonts/title.ttf');
}