{% extends 'base.html.twig' %}

{% block title %}Contacto
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden content">
		<div id="contact-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba</h1>
				<h2 class="text-center">Contacto</h2>
			</div>
			<br>
			<div class="d-flex flex-column align-items-center">
				<div class="text-center">
					<div id="info-text" class="d-flex flex-column gap-2 fw-bold">
						<div>
							<p>29011540 - I.E.S. - Salduba</p>
							<p>Finca "El Arquillo" s/n. 29670.</p>
							<p>Tels.: 952.78.71.40&nbsp;&nbsp;&nbsp;951.270.705</p>
							<p>Fax:  951.27.07.08</p>
						</div>
						<div id="emails" class="d-flex">
							<a class="text-decoration-none text-dark mail m-2" href="mailto:direccion@iessalduba.com">direccion@iessalduba.com</a>
							<a class="text-decoration-none text-dark mail m-2" href="mailto:jefatura@iessalduba.com">jefatura@iessalduba.com</a>
							<a class="text-decoration-none text-dark mail m-2" href="mailto:secretaria@iessalduba.com">secretaria@iessalduba.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
