{% extends 'base.html.twig' %}

{% block title %}Contacto
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden content">
		<div id="contact-container" class="p-1 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba - Contacto</h1>
			</div>
			<br>
			<div>
				<div class="text-center">
					<div id="info-text" class="fw-bold">
						<div class="d-flex flex-column align-items-center">
							<div class="d-flex align-items-center gap-2">
								<i class="fa-solid fa-school"></i>
								<p class="mb-0">29011540 - I.E.S. - Salduba</p>
							</div>
							<br>
							<div class="d-flex align-items-center gap-2">
								<i class="fa-solid fa-location-dot"></i>
								<p class="mb-0">Finca "El Arquillo" s/n. 29670.</p>
							</div>
							<br>
							<div class="d-flex align-items-center gap-2">
								<i class="fa-solid fa-phone"></i>
								<p class="mb-0">Tels.: 952.78.71.40&nbsp;&nbsp;&nbsp;951.270.705</p>
							</div>
							<br>
							<div class="d-flex align-items-center gap-2">
								<i class="fa-solid fa-fax"></i>
								<p class="mb-0">Fax:  951.27.07.08</p>
							</div>
						</div>
						<div id="emails" class="d-flex align-items-center mt-3">
							<div>
								<i class="fa-solid fa-envelope"></i>
								<a class="text-decoration-none text-dark mail ms-1 me-3" href="mailto:direccion@iessalduba.com">direccion@iessalduba.com</a>
							</div>
							<div>
								<i class="fa-solid fa-envelope"></i>
								<a class="text-decoration-none text-dark mail ms-1 me-3" href="mailto:jefatura@iessalduba.com">jefatura@iessalduba.com</a>
							</div>
							<div>
								<i class="fa-solid fa-envelope"></i>
								<a class="text-decoration-none text-dark mail ms-1 me-3" href="mailto:secretaria@iessalduba.com">secretaria@iessalduba.com</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
