{% extends 'base.html.twig' %}

{% block title %}Información 2º Bachillerato
{% endblock %}

{% block body %}
	<main class="p-3 mt-3 mb-3 rounded overflow-hidden">
		<div id="fp-info-container" class="p-2 rounded">
			<div>
				<h1 class="text-center title">I.E.S. Salduba - Información FP</h1>
			</div>
			<div class="d-flex flex-column align-items-center">
				<div class="fp-info-content rounded">
					<div class="p-2 fp-info-content-title rounded">
						<p class="fw-bold text-light">INFORMACIÓN SOBRE CALENDARIO DE SOLICITUD DE PLAZA PARA CICLOS FORMATIVOS EN EL 2023/2024.</p>
					</div>
					<p class="mt-3 fw-bold">La
						<a href="https://www.juntadeandalucia.es/eboja/2023/111/BOJA23-111-00006-10189-01_00285211.pdf">Resolución de 7 de junio de 2023,</a>
						de la Dirección General de Formación Profesional, por la que se hace público el calendario de aplicación para la admisión y matriculación del alumnado en las enseñanzas de formación profesional para el curso 2023/2024, establece en su Anexo I,  Anexo II  y Anexo III el calendario de admisión y matriculación en
						<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/quiero-formarme/ensenanzas">"Ciclos Formativos de Grado Medio  o Superior".</a>
					</p>
					<p class="fw-bold">
						El calendario  y la descripción de la oferta para 2023/2024  también se puede consultar en:
						<a href="https://www.juntadeandalucia.es/educacion/portales/web/escolarizacion/fp/calendario" class="text-danger">Ver en la WEB DE ESCOLARIZACION (Formación Profesional Andaluza)</a>
					</p>
					<p class="fw-bold">Si necesitan ayuda, mira el
						<a href="https://www.youtube.com/watch?v=ezcBivjnMJw&ab_channel=Formaci%C3%B3nProfesionalAndaluza" class="text-danger">"Tutorial Cómo solicitar admisión a ciclo formativo de oferta completa".</a>
					</p>
				</div>
				<hr class="second-bach-info-hr">
				<div class="second-bach-info-content rounded">
					<div class="p-2 second-bach-info-content-title rounded">
						<p class="fw-bold text-light">INFORMACIÓN SOBRE CALENDARIO DE SOLICITUD DE PLAZA PARA FPB PARA EL 2023/2024.</p>
					</div>
					<p class="mt-3 fw-bold">La
						<a href="https://www.juntadeandalucia.es/eboja/2023/111/BOJA23-111-00006-10189-01_00285211.pdf" target="_blank">Resolución de 7 de junio de 2023,</a>
						de la Dirección General de Formación Profesional, por la que se hace público el calendario de aplicación para la admisión y matriculación del alumnado en las enseñanzas de formación profesional para el curso 2023/2024, establece en su Anexo VIII el calendario de admisión y matriculación en
						<a href="https://www.juntadeandalucia.es/educacion/portals/web/formacion-profesional-andaluza/quiero-formarme/escolarizacion-2021/oferta/-/contenidos/detalle/escolarizacion-2021-0-17-1-ocfpb-oferta-completa-de-formacion-profesional-basica" target="_blank">"Ciclos Formativos de Grado Básico (antigua Formación Profesional Básica - FPB)".</a>
					</p>
					<p class="fw-bold">El calendario  y la descripción de la oferta para 2023/2024  también se puede consultar en:
						<a href="https://www.juntadeandalucia.es/educacion/portales/web/escolarizacion/fp/oferta-completa-presencial-ciclos-formativos-grado-basico" target="_blank">Ver en la WEB DE ESCOLARIZACION (Formación Profesional Andaluza)</a>
					</p>
					<p class="fw-bold">No obstante, el Anexo VIII descrito en dicha Resolución es el siguiente:</p>
					<div class="d-flex justify-content-center">
						<img id="anexo-img" src="{{ asset('images/fp_info/anexoVIII.jpg') }}" alt="Anexo VIII"/>
					</div>
				</div>
				<hr class="second-bach-info-hr">
				<div class="second-bach-info-content rounded">
					<div class="p-2 second-bach-info-content-title rounded">
						<p class="fw-bold text-light">ESCOLARIZACIÓN de Formación Profesional curso 2023/2024.</p>
					</div>
					<p class="mt-3 fw-bold">Próximamente comenzará el Procedimiento de Escolarización de Formación Profesional 23/24.</p>
					<p>Toda la información relativa a dicho procedimiento estará disponible en la
						<b>nueva web de ESCOLARIZACIÓN 2023/2024</b>
						sección de FP  donde estarán disponibles calendarios, oferta educativa, requisitos, vídeos explicativos del proceso, etc... cuyo
						<a href="https://www.juntadeandalucia.es/educacion/portales/web/escolarizacion/fp" target="_blank" class="fw-bold text-danger">enlace</a>
						es:</p>
					<div class="d-flex justify-content-center">
						<a href="https://www.juntadeandalucia.es/educacion/portales/web/escolarizacion/fp" target="_blank"><img id="escolarizacion-fp-img" src="{{ asset('images/fp_info/escolarizacion-FP.jpg') }}" alt="Escolarización-FP" class="rounded"/></a>
					</div>
				</div>
				<hr class="second-bach-info-hr">
				<div class="second-bach-info-content rounded">
					<div class="p-2 second-bach-info-content-title rounded">
						<p class="fw-bold text-light">IMPORTANTE para nuestros alumnos de Ciclos Formativos que Repiten curso (1º o 2º) o pasan de 1º a 2º en el 23/24.</p>
					</div>
					<p class="mt-3">Hoy
						<b>25 de Junio y hasta el 30 de Junio debe realizarse la matriculación del alumno</b>
						de ciclo formativo que se encuentre en la siguiente situación,
						<b>que repiten curso (1º o 2º)  o pasan de 1º a 2º.</b>
					</p>
					<p>Es muy importante que realicen la matrícula para el 2022/2023 antes del 30 de junio, ya que el procedimiento, de no hacer la matrícula,  no le garantiza su plaza para curso que viene ya que se la ofertará a alumnos nuevos en el proceso de admisión.</p>
					<p>La
						<b>matrícula</b>
						se hará por la
						<a href="https://www.juntadeandalucia.es/educacion/secretariavirtual/solicitudes/" class="text-danger fw-bold">secretaria virtual de la Junta de Andalucía,</a>
						en el apartado de solicitudes:
					</p>
					<div class="d-flex justify-content-center">
						<a href="https://www.juntadeandalucia.es/educacion/secretariavirtual/solicitudes/" target="_blank"><img id="requests-img" src="{{ asset('images/fp_info/requests.jpg') }}" alt="Solicitudes" class="rounded"/></a>
					</div>
				</div>
				<hr class="second-bach-info-hr">
			</div>
		</div>
	</main>
{% endblock %}